# Builds
out/
dist/

# Non-mainnet deployment artifacts
broadcast/*.sol/**/*.json
!broadcast/*.sol/1/run-*.json
# Tenderly deployments
!broadcast/*.sol/98*/run-1*.json

# Private files
.env

# Cache
cache/

# Dependencies
node_modules/
dependencies/

# direnv
.direnv

# coverage
.coverage/
lcov.info

# docs
docs/

# IDE
.idea/

# Removed for now, might enable after v1.0
.gas-snapshot

# Rust
target/

# TruffleHog config file
.trufflehog.yml

# Fuzzing
crytic-export
medusa-corpus