# Builds
out/

# Dry-run deployment artifacts
broadcast/*.sol/*/dry-run
# Non-latest deployment artifacts
broadcast/*.sol/*/run-[0-9]*.json

# Private files
.env

# Cache
cache/

# Dependencies
node_modules/

# devenv
.devenv
.direnv

# coverage
.coverage/
lcov.info
