# Builds
out/
dist/

# Non-mainnet deployment artifacts
broadcast/*.sol/**/*.json
!broadcast/*.sol/1/run-*.json

# Private files
.env

# Cache
cache/

# Dependencies
node_modules/

# devenv
.devenv
.direnv

# coverage
.coverage/
lcov.info

# docs
docs/

# IDE
.idea/

# Removed for now, might enable after v1.0
.gas-snapshot
